.main{
    border: 1px solid red;
    /* display: flex; */
    margin: auto;
}
.main > div{
    border: 1px solid red;
    display: flex;
    margin-bottom: 3%;
    width: 50%;
}
img{
    width: 200px;
    height: 150px;
    margin-left: 5%;
    margin-top: 4%;

}